*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
#nav{
  display: flex;
  justify-content: space-around;
  height: 60px;
  align-items: center;
  background: linear-gradient(to right, #ffcc00 0%, #ff00ff 100%);
}
.grid-container {
  display: grid;
  grid-template-columns:repeat(10, 0fr);
  align-items: center;
}
.grid-container div a{
padding: 0px 10px 0px 10px;
}
.line{
  border-left:1px solid white;
  height: 60px;
}
.btn {
  border: 5px solid white;
  background: linear-gradient(to right, #ff00 0%, #ff00ff 100%);
  padding: 10px 22px;
  color: white;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.btn:hover {
  background: #2196F3;
}
#nav a{
  color: white;
  font-size: 25px;
}
.email{
  color: white;
  display: flex;
  font-size: 25px;
}
.email p{
  padding-left: 4px;
}
/* navbar-two */
.navigation{
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-around;
}
.navigation div{
  display: flex;
}




























@media (max-width: 400px){
  #nav{
    display: grid;
    height: 100px;
    align-items: center;
    background: linear-gradient(to right, #ffcc00 0%, #ff00ff 100%);
  }
  .btn {
    border: 5px solid white;
    background: linear-gradient(to right, #ff00 0%, #ff00ff 100%);
    padding: 5px 14px;
    color: white;
    border-radius: 20px;
    font-size: 8px;
    font-weight: bold;
    cursor: pointer;
  }
  .email{
    color: white;
    display: flex;
    font-size: 10px;
  }
  .email p{
    padding-left: 4px;
  }
  .line{
    height: 30px;
  }
}